* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url('../../travel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    margin-right: 25px;
}

ul li a:hover {
    background-color: white;
    color: darkgreen;
}

ul li.active a {
    background-color: white;
    color: darkgreen;
}

.container {
    height: 75vh;
    width: 30%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover {
    opacity: 1.0;
}

.container h1 {
    color: darkgreen;
    margin-top: 50px;
    text-align: center;
}

.container p {
    color: darkgreen;
    margin-top: 15px;
    text-align: center;
    line-height: 2.3em;
    padding: 12px 18px;
}