*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: pointer;
}

/* body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
} */

nav {
    background: white;
    width: 100%;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: right;
}

nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 20px 10px;
    color: darkgreen;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6';
}

.gallery img {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery img:hover {
    transform: scale(1.1);
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
    min-height: 51.5rem;
}

.img-7 {
    grid-area: img-7;
}

.img-8 {
    grid-area: img-8;
}

@media screen and (max-width: 900px) {
    .gallery {
        grid-template-areas: 
        'img-1 img-1 img-2 img-2'
        'img-1 img-1 img-3 img-3'
        'img-4 img-4 img-5 img-5'
        'img-6 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
    .gallery img {
        height: 20rem;
    }
    .img-1 {
        min-height: 41.5rem;
    }
    .img-6 {
        min-height: 20rem;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-areas: 
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
    .gallery img,
    .img-1,
    .img-6 {
        min-height: 30rem;
        height: 30rem;
    }
}