* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url('../images/travel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    margin-right: 25px;
}

ul li a:hover {
    background-color: white;
    color: darkgreen;
}

ul li.active a {
    background-color: white;
    color: darkgreen;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    background-color: white;
    color: darkgreen;
    text-decoration: none;
    margin: 10px;
    opacity: 0.6;
}

.btn:hover {
    background-color:rgb(255, 255, 255);
    opacity: 0.9;
}